{% extends 'main/base.html' %}

{% block content %}
    <div class="parent">
        <div class="column-1">
            <h1>Based on Your Ratings:</h1>
            <hr>
            <ol type="1">
                {% for id, movie in best.items %}
                    <a href = "https://www.imdb.com/title/tt{{id}}" style="color: white">
                        <h3><li>{{ movie }}</li></h3>
                    </a>
                {% endfor %}
            </ol>

        </div>

        <div class="column-2">
            <h1>Everyone's Favorites:</h1>
            <hr>
            <ol type="1">
                {% for id, movie in personalized.items %}
                    <a href = "https://www.imdb.com/title/{{id}}" style="color: black">
                        <h3><li>{{ movie }}</li></h3>
                    </a>
                {% endfor %}
            </ol>
        </div>
    </div>


    <style>
        h1 {
            padding-top: 10px;
            text-align: center;
        }

        ol {
            padding-left: 50px;
            text-align: left;
        }

        a {
            text-decoration: none;
        }

        .parent {
            display: flex;
            flex-direction: row;
        }

        .column-1 {
            width: 50%;
            height: 150vh;
            background-color: green;
            text-align: left;
            color: white;
        }

        .column-2 {
            width: 50%;
            height: 150vh;
            background-color: yellow;
            text-align: left;
            color: black;
        }
    </style>
{% endblock %}