{% extends "main/base.html" %}

{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <form method="POST" class="form-group">
        <br />
        <h2>Sign up</h2>
        <hr>
        {% csrf_token %}
        {{ form|crispy }}

        <p>Already have an account? Log in <a href="/login">here</a></p>
        <button style="margin-bottom: 1em" type="submit" class="btn btn-success">Register</button>
    </form>
</div>
{% endblock %}
