{% extends "main/base.html" %}

{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <form method="POST" class="form-group">
        <br />
        <h2>Login</h2>
        <hr>
        {% csrf_token %}
        {{ form|crispy }}

        <p>Don't have an account? Create one <a href="/register">here</a></p>
        <p></p>
        <button style="margin-bottom: 1em" type="submit" class="btn btn-success">Login</button>
    </form>
</div>
{% endblock %}
